@model DetailsDepartmentDto

@{
    ViewData["Title"] = "Details";
}

<br/>

<h1>Details Page</h1>

<br />

<form asp-action="Details">
    <div class="mt-4">
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code" value="@Model.Code" class="form-control" readonly />
    </div>
    <div class="mt-4">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" value="@Model.Name" class="form-control" readonly />
    </div>
    <div class="mt-4">
        <label asp-for="CreateAt" class="col-form-label">Date Of Creation </label>
        <input asp-for="CreateAt" class="form-control" readonly />
    </div>

    <div>
        <a asp-action="Edit" asp-controller="Department" class="btn btn-primary mt-3" />Edit</a>
        <a asp-action="Index" asp-controller="Department" class="mt-3 ms-2 btn btn-light">Back To List</a>
    </div>

</form>

