@model Employee

@{
    ViewData["Title"] = "Details";
}

<br/>

<h1>Details Page</h1>



<form asp-action="Details" >


    <partial name="EmployeePartialView/_DetailsDeletePartialView" />

    <div>
        <a asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id" class="mt-3 btn btn-outline-primary">Edit</a>
       @* <a href="/Employee/Edit/@Model.Id" class="btn btn-outline-primary">Edit</a> *@
        <a asp-action="Index" asp-controller="Employee" class="mt-3 ms-2 btn btn-light">Back To List</a>
    </div>

</form>



