
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="m-3 alert alert-danger"></div>
		
      <h2 style="transition: 0.3s; text-align: center; color: white;" onmouseover="this.style.color='darkgreen'" onmouseout="this.style.color='white'" ondblclick="closePopup()">📩 Check Your Inbox 😊💚</h2>
 
	</div>
</div>

